@{
    ViewBag.Title = "Thank You";
}

<h2>Thank You</h2>
Thank you for your order.
<br />
<br />

<h3> Your Order Id = @ViewBag.OrderId </h3>
<h4> Please show this message when picking up your order!</h4>


