@model MyFYP.Core.Models.Order

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<script src="https://code.highcharts.com/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

@*Adapted from https://jsfiddle.net/gh/get/library/pure/highcharts/highcharts/tree/master/samples/highcharts/demo/column-drilldown/*@

<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script>


    Highcharts.chart('container', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Sales Figures'
        },
        subtitle: {
            text: 'Donations vs Sales'
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Sales'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Donations',
            data: [7, 6, 9, 0, 0, 0, 0, 0, 0, 0, 0, 0]
        }, {
            name: 'Sales',
            data: [3, 4, 5, 0, 0, 0, 0, 0, 0, 0, 0, 0]
        }]
    });

    Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Sales by Product'
    },
    subtitle: {
        text: 'Click the columns to view Donations/Sales Breakdown'
    },
    accessibility: {
        announceNewData: {
            enabled: true
        }
    },
    xAxis: {
        type: 'category'
    },
    yAxis: {
        title: {
            text: 'Sales'
        }

    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y:.1f}%'
            }
        }
    },

    tooltip: {
        headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
        pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
    },

    series: [
        {
            name: "Products",
            colorByPoint: true,
            data: [
                {
                    name: "Apple Juice",
                    y: 62.74,
                    drilldown: "Chrome"
                },
                {
                    name: "Cake",
                    y: 10.57,
                    drilldown: "Firefox"
                },
                {
                    name: "Sandwich",
                    y: 7.23,
                    drilldown: "Internet Explorer"
                },
                
            ]
        }
    ],
    drilldown: {
        series: [
            {
                name: "Apple Juice",
                id: "Chrome",
                data: [
                    [
                        "Donations",
                        0.1
                    ],
                    [
                        "Sales",
                        1.3
                    ],
                   
                ]
            },
            {
                name: "Cake",
                id: "Firefox",
                data: [
                    [
                        "Donations",
                        1.02
                    ],
                    [
                        "Sales",
                        7.36
                    ],
                  
                ]
            },
            {
                name: "Sandwich",
                id: "Internet Explorer",
                data: [
                    [
                        "Donations",
                        6.2
                    ],
                    [
                        "Sales",
                        0.29
                    ],
                
                ]
            }
            
        ]
    }
});
</script>

